@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/styles/tokens.css";

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-neutral-50 text-neutral-900 antialiased;
  }
}
